body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
}

h1,h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  text-align: center;
}

img {
  display: block;
  text-align: center;
  position: absolute;
   top: 10px;
   left: 60%;
   width: 50px;
   height: 50px;
}

#new {
  top: 0;
  width: 450px;
  float: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#form {
  top: 0;
  width: 350px;
  margin-left: 4px;
  float: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#eaten {
  top: 0;
  width: 450px;
  float: right;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#new-burgers {
  width: 30%;
  border: 1px solid lightgrey;
}

li {
  width: 100%;
  height: 26px;
  margin: 1px;
  list-style-type: none;
  line-height: 10px;
}

.label {
  font-weight: bold;
  display: inline-block;
}

.create-form {
  width: 100%;
  background: rgba(254, 208, 48, 0.5);;
  display: inline-block;
  text-align: center;
}

.form-group {
  height: 80px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  
}

input[type="text"]{ 
  padding: 0 0; 
  line-height: 10px; 
  height: 50px;
  width: 300px;
  border: none;
}

button {
  height: 20px;
  border-radius: 5px;
}
button:hover {
  background-color: hotpink;
  color: white;
}